<li>
  <span class="content"><%= auction.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(auction.created_at) %> ago.
  </span>
  <% if current_user?(auction.user) %>
    <%= link_to "delete", auction, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: auction.content %>
  <% end %>
</li>